
<div id="headerwrap">
<!DOCTYPE html>
<html>
	<head>
	  <title>cyanotype</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>

	  <!-- Fixed navbar -->
	    <%= render 'layouts/header' %>

	</head>	    

		<body>
			
				<div id="headerwrap">
					<h2>
						welcome to <span style="font-family: 'Special Elite', serif;">cyanotype</span>
					</h2>
				</div>
				<div id="headerwrap">	
					<h4>you can sign up</h4>
						
						<div class="col-lg-4 col-lg-offset-4">
							<%= link_to "HERE", "#", class: "btn btn-primary btn-lg btn-block" %>
						 
						 	<h4>or</h4> 

						 	<%= link_to "LOG IN", "#", class: "btn btn-primary btn-lg btn-block" %>
						
						</div>
						
				</div>
				
			</div>
		</body>	
</html>

	
